* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  outline: 0;
  outline-offset: 0;
  box-sizing: border-box;
  border: none;
  width: auto;
  height: auto;
}
*::before, *::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  outline: 0;
  outline-offset: 0;
  box-sizing: border-box;
  border: none;
  width: auto;
  height: auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1;
  width: 100%;
}
main {
  display: block;
}
b,
strong {
  font-weight: bolder;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
button {
  outline: none;
  background: none;
  border-radius: 0;
}
label {
  cursor: pointer;
}
button {
  cursor: pointer;
}
textarea {
  overflow: auto;
}
*:active,
*:hover,
*:focus {
  outline: 0;
}
::-webkit-file-upload-button {
  font: inherit
}