@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

//Light theme
$color_1_l: #F2DBBD;
$color_2_l: #DDC8AC;
$color_3_l: #877A6B;
$color_4_l: #0A0000;

//Dark theme
$color_1_d: #554F66;
$color_2_d: #2E2A37;
$color_3_d: #1C1B22;
$color_4_d: #141318;
$color_5_d: #BDB1E3;

